.header{
    background: linear-gradient(90deg, #BAB3B0 0%, #AB9C95 100%);
    padding: 0 0 40px 0;
}
.intro h1{
    color: white;
}

.banner .main-heading{
  color: #ffffff !important;
}
.banner #color-blue{
    color: #0464cb !important;
} 



.nav-scroller {
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }


  .banner h1 {
    font-size: 50px;
  }
  
  @media (max-width: 576px) {
    .banner h1 {
      font-size: 35px;
    }
  }
  

  .fade-text {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }