<section class="flash-sale">
<div class="container">
    <div class="row g-3 d-flex justify-content-center align-items-center">
        <div class="col-lg-3">
            <img src="assets/img/flash/left-flash.svg" width="100%" alt="">
        </div>
        <div class="col-lg-6 text-center" id="countdown">
            <h1>Flash Sales</h1>
            <div class="row d-flex justify-content-center align-items-center py-3">
                <div class="col-auto">
                    <p>Days</p>
                    <h2>03</h2>
                </div>
                <div class="col-auto">
                    <h2>:</h2>
                </div>
                <div class="col-auto">
                    <p>Hours</p>
                    <h2>12</h2>
                </div>
                <div class="col-auto">
                    <h2>:</h2>
                </div>
                <div class="col-auto">
                    <p>Minutes</p>
                    <h2>25</h2>
                </div>
                <div class="col-auto">
                    <h2>:</h2>
                </div>
                <div class="col-auto">
                    <p>Seconds</p>
                    <h2>32</h2>
                </div>
            </div>
            <h5>"Limited Time Offer: Grab Your Favorites at Unbeatable Prices –<br/> Flash Sale Now Live!"</h5>
            <a href="" class="btn btn-primary px-4 mt-3">Shop Now</a>
        </div>
        
        <div class="col-lg-3">
            <img src="assets/img/flash/right-flash.svg" width="100%" alt="">
        </div>
    </div>
</div>
</section>