<section
  class="products my-5"
  *ngFor="let group of groupedProductsByCategory; let i = index"
>
  <div class="">
    <!-- Background color rotating -->
    <div
      class="py-3 category container-fluid"
      [ngStyle]="{
        'background-color': backgroundColors[i % backgroundColors.length]
      }"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <!-- Even index: Image | Text -->
          <ng-container *ngIf="i % 2 === 0; else reverseLayout">
            <div class="col-lg-6 col-6 text-start">
              <img
                [src]="getCategoryImage(group.category)"
                class="responsive-img"
                alt="{{ group.category }}"
              />
            </div>

         <div class="col-lg-6 col-6 text-start text-md-end m-auto">
              <p class="fw-bold" id="cmn-header">New Arrivals</p>
              <h2 class="fw-bold">{{ group.category }}</h2>
              <p id="cmn-header">Up to 50% off</p>
              <p class="fw-bold"><a href="/category/{{ group.category }}" style="text-decoration: none; color: black;">Shop Now</a></p>
            </div>
          </ng-container>

          <!-- Odd index: Text | Image -->
          <ng-template #reverseLayout>
            <div class="col-lg-6 col-6 text-start m-auto">
              <p class="fw-bold" id="cmn-header">New Arrivals</p>
              <h2 class="fw-bold">{{ group.category }}</h2>
              <p id="cmn-header">Up to 50% off</p>
               <p class="fw-bold"><a href="/category/{{ group.category }}" style="text-decoration: none; color: black;">Shop Now</a></p>
            </div>
            <div class="col-lg-6 col-6 text-end">
              <img
                [src]="getCategoryImage(group.category)"
                class="responsive-img"
                alt="{{ group.category }}"
              />
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Product Grid for this category -->
    <div class="container">
      <div
        class="row row-cols-3 row-cols-lg-4 row-cols-md-4 gy-5 mt-2 justify-content-center align-items-center"
      >
        <div
          class="col"
          *ngFor="let product of group.products | slice : 0 : 3"
          [routerLink]="['/details', product._id]"
          style="cursor: pointer; position: relative"
        >
          <div class="card product-card border border-dark">
            <div
              class="wishlist-icon"
              (click)="toggleWishlist(product); $event.stopPropagation()"
              [ngClass]="{
                wishlisted: isWishlisted(product)
              }"
            ></div>

            <div class="image-wrapper">
              <img
                *ngIf="product.images && product.images.length"
                [src]="product.images[0]?.url"
                alt="{{ product.title }}"
                class="card-img-top product-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional 'View More' button -->
    <div class="text-center mt-4" *ngIf="group.products.length >= 1">
      <a
        class="btn btn-blue rounded-pill px-4"
        href="/category/{{ group.category }}"
      >
        Shop {{ group.category }}
      </a>
    </div>
  </div>
</section>
