.item-card {
  border: 1px solid black;
  overflow: hidden;
  height: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* Makes it a square */
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.label-overlay {
  position: absolute;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-weight: bold;
  color: #333;
  border-top: 1px solid #ccc;
}


.hero-banner {
  background-color: #e4f1fb;
}

.hero-title {
  font-size: 28px;
}

.hero-subtitle {
  font-size: 18px;
}

.hero-image {

width: 20%;
  object-fit: contain;
}

.cat-image1, .cat-image2, .cat-image3 {
  object-fit: contain;
  margin-left: auto;
}

.cat-image1,
.cat-image2{
  max-height: 180px;
}


.cat-image3 {
  max-height: 280px;
}
@media (max-width: 576px) {
.hero-image {
width: 54% !important;
}


  .cat-image1 {
    max-height: 100px;
  }
  .cat-image2 {
    max-height: 90px;
  }
  .cat-image3 {
    max-height: 130px;
  }
}


.category-block {
  flex-wrap: wrap;
  text-align: left;
}


.bg-light-gray {
  background-color: #e5e5e5;
}

.bg-light-blue {
  background-color: #dff1fc;
}

.bg-peach {
  background-color: #fde2b5;
}

.discount-badge {
  background: #0d6efd;
  color: #fff;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 8px;
}
