<header class="navbar-light bg-white sticky-top p-2 border-bottom">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"><a
                href="/admin/dashboard"
                class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none logo"><img width="150px"
                    alt="" src="../../../../assets/img/logo.svg"></a>
            <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0 me-md-4">
                <li><a href="admin/dashboard" class="nav-link px-2 link-dark">Dashboard</a></li>
                <li><a href="admin/customers" class="nav-link px-2 link-dark">Customers</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="admin/dashboard" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Catalog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="admin/products/add">Add Product</a></li>
                        <li><a class="dropdown-item" href="admin/products/list">Product List</a></li>
                        <li><a class="dropdown-item" href="admin/brand">Brand</a></li>
                        <li><a class="dropdown-item" href="admin/brand/list">Brand List</a></li>
                        <li><a class="dropdown-item" href="admin/category">Category</a></li>
                        <li><a class="dropdown-item" href="admin/category/list">Category List</a></li>
                        <li><a class="dropdown-item" href="admin/types">Varients</a></li>
                        <li><a class="dropdown-item" href="admin/types/list">Varients List</a></li>
                       
                    </ul>
                </li>
                <li><a href="admin/orders" class="nav-link px-2 link-dark">Orders</a></li>
                <li><a href="admin/settings" class="nav-link px-2 link-dark">Settings</a></li>
                <li><a href="admin/enquires" class="nav-link px-2 link-dark">Enquires</a></li>
            </ul>
            <div class="dropdown text-end"><a href="#" id="dropdownUser1" data-bs-toggle="dropdown"
                    aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle"><img alt="mdo"
                        width="42" height="42" src="https://cdn-icons-png.flaticon.com/512/512/512219.png"
                        class="rounded-circle"></a>
                <ul aria-labelledby="dropdownUser1" class="dropdown-menu text-small">
                    <li><span class="dropdown-item">Welcome :
                            Admin</span></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="#" class="dropdown-item"><i aria-hidden="true" class="fa fa-sign-out"></i> Sign Out
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>