<section class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-5">
          <main class="form-resetPassword">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <h5 class="mb-3">Reset Password</h5>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Enter new password"
                  formControlName="newpassword"
                />
                <label for="floatingInput">Enter New Password</label>
                <div
                  *ngIf="resetPasswordForm.controls['newpassword'].invalid && resetPasswordForm.controls['newpassword'].touched"
                  class="text-danger"
                >
                  Valid password is required
                </div>
              </div>
  
              <button class="btn btn-primary w-100 py-2 mt-3" type="submit" [disabled]="resetPasswordForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Updating...' : 'Update' }}
              </button>
  
              <a class="btn btn-dark w-100 my-2" routerLink="/login">
                Login
              </a>
  
              <p *ngIf="errorMessage" class="text-danger text-center mt-2">
                {{ errorMessage }}
              </p>
            </form>
          </main>
        </div>
  
        <div class="col-lg-7 welcome-section d-flex flex-column justify-content-center align-items-center text-white text-center">
          <div class="w-80">
            <img src="../../../../assets/img/logo.svg" width="350" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  