<section class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-12">
        <!-- Logo shown only on md and smaller screens -->
        <div class="d-lg-none text-center mb-4">
          <img src="../../../../assets/img/logo.svg" width="200" alt="Logo" />
        </div>

        <main class="form-signin">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h5 class="mb-3 text-center text-lg-start">Please sign in</h5>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingIdentifier"
                placeholder="Email or Mobile"
                formControlName="identifier"
              />
              <label for="floatingIdentifier">Email or Mobile</label>
            </div>

            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                formControlName="password"
              />
              <label for="floatingPassword">Password</label>
              <div
                *ngIf="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
                "
                class="text-danger"
              >
                Password must be at least 6 characters
              </div>
            </div>

            <button
              class="btn btn-primary w-100 py-2 mt-3"
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
 <div class="text-center my-2">
              <span class="text-muted">or</span>
            </div>
            <!-- Google Login Button -->
            <div
              id="googleLoginBtn"
              class="google-btn-wrapper w-100 my-2"
            ></div>

            <a class="btn btn-dark w-100 my-2" routerLink="/register">
              Register
            </a>

            <div class="text-center mb-4">
              <a href="forgot-password" class="text-muted text-decoration-none">
                Forgot Password ?
              </a>
            </div>

            <p class="mt-2 text-center">© 2021-{{ currentYear }}</p>
            <p class="text-center" style="font-size: 12px">
              <a routerLink="/terms-of-service" class="no-underline">
                Terms of Service
              </a>
            </p>
            <p class="text-center" style="font-size: 12px">
              <a routerLink="/shipping-policy" class="no-underline">
                Shopping Policy
              </a>
            </p>
          </form>
        </main>
      </div>

      <!-- welcome-section visible only on lg and up -->
      <div
        class="col-lg-7 d-none d-lg-flex welcome-section flex-column justify-content-center align-items-center text-white text-center"
      >
        <div class="w-80">
          <img src="../../../../assets/img/logo.svg" width="350" alt="Logo" />
        </div>
      </div>
    </div>
  </div>
</section>
