<section class="footer">
  <div class="container">
    <footer class="pt-5">
      <div class="container">
        <div class="row g-4 mb-5">
          <!-- Link block -->
          <div class="col-lg-3 col-12">
            <p class="mb-2 mb-md-3 footer-header">About Us</p>
            <p class="pt-2">Hasthshilp is India's first National Award-winning marketplace, directly connecting artisans and weavers’ cooperatives with global consumers. We ensure fair prices, authenticity, and sustainable livelihoods while preserving India's rich craft heritage.</p>
          
            <div class="social-icons mt-3">
              <a href="https://www.facebook.com/HasthshilpIndia" target="_blank" class="social-icon facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/Hasthshilp_india" target="_blank" class="social-icon instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-12">
            <p class="mb-2 mb-md-3 footer-header">Support</p>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="https://maps.app.goo.gl/7Tvayom3Ln2Qmc6y7" target="_blank">Plot no 11, Lane no. 2, Doon Hills Colony, Ring Road, Ladpur, Dehradun, Uttarakhand, India (248001)</a></li>
              <li class="nav-item"><a class="nav-link" href="mailto:support@Hasthshilp.com">support&#64;hasthshilp.com</a></li>
              <li class="nav-item"><a class="nav-link" href="tel:+919027700914">+91 9027700914</a></li>
            </ul>
          </div>

          <!-- Link block -->
          <div class="col-lg-3 col-12">
            <p class="mb-2 mb-md-3 footer-header">Account</p>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="myprofile">My Account</a></li>
              <li class="nav-item d-flex"><a class="nav-link" href="login">Login / </a><a class="nav-link" href="register">&nbsp;Register</a></li>
              <li class="nav-item"><a class="nav-link" href="checkout/cart">Cart</a></li>
              <li class="nav-item"><a class="nav-link" href="wishlist">Wishlist</a></li>
              <li class="nav-item"><a class="nav-link" href="categories">Shop</a></li>
            </ul>
          </div>

          <!-- Link block -->
          <div class="col-lg-3 col-12">
            <p class="mb-2 mb-md-3 footer-header">Information</p>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="privacy-policy">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="terms-of-service">Terms Of Service</a></li>
              <li class="nav-item"><a class="nav-link" href="shipping-policy">Shipping Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="refund-returns">Refund and Returns Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="contactus">Contact</a></li>
            </ul>
          </div>
        </div>
       
        <div class="text-center bg-white py-2">
          <img src="https://www.hostagle.com/wp-content/uploads/2022/12/payments-removebg-preview.png" width="40%" alt="">
        
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-center py-4 border-top">
          <p>© 2021 - {{currentYear}} {{companyName}}, Inc. All rights reserved.</p>
        
        </div>
      </div>
    </footer>
  </div>
</section>