<section class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-12">
        <div class="container">
          <div class="d-lg-none text-center mb-4">
            <img src="../../../../assets/img/logo.svg" width="200" alt="Logo" />
          </div>

          <main class="form-signin">
            <form [formGroup]="registerForm">
              <h5 class="mb-3 text-center text-lg-start">Create new account</h5>

              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                  formControlName="firstname"
                />
                <label for="firstname">First Name</label>
              </div>

              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  placeholder="Last Name"
                  formControlName="lastname"
                />
                <label for="lastname">Last Name</label>
              </div>

              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  placeholder="10-digit mobile number"
                  formControlName="mobile"
                />
                <label for="mobile">Mobile</label>
              </div>

              <div class="form-floating mb-2">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  formControlName="email"
                />
                <label for="email">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <label for="password">Password</label>
              </div>

              <div
                class="justify-content-left align-items-left d-flex flex-column"
              >
                <button
                  class="btn btn-primary w-90 py-2 mt-2"
                  type="button"
                  [disabled]="isLoading || registerForm.invalid"
                  (click)="onSubmit()"
                >
                  {{ isLoading ? "Registering..." : "Create new account" }}
                </button>
                <div class="text-center my-2">
                  <span class="text-muted">or</span>
                </div>

                <div id="googleBtn" class="google-btn-wrapper w-100 my-2"></div>

                <a class="btn btn-dark w-90 my-2" href="/login">Login</a>
              </div>
              <p class="mt-2 text-center">© 2021-{{ currentYear }}</p>
              <p class="text-center" style="font-size: 12px">
                <a href="/terms-of-service" class="no-underline"
                  >Terms of Service</a
                >
              </p>
              <p class="text-center" style="font-size: 12px">
                <a href="/shipping-policy" class="no-underline"
                  >Shipping Policy</a
                >
              </p>
            </form>
          </main>
        </div>
      </div>

      <div
        class="col-lg-7 d-none d-lg-flex welcome-section flex-column justify-content-center align-items-center text-white text-center"
      >
        <div class="w-80">
          <img src="../../../../assets/img/logo.svg" width="350" alt="Logo" />
        </div>
      </div>
    </div>
  </div>
</section>
