<div class="container-fluid py-5">
  <div class="fullscreen-video-wrapper">
    <video  autoplay muted playsinline loop class="video-content">
      <source src="../../../../assets/video/intro-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="follow-text text-center mt-3">
    <a href="https://www.instagram.com/Hasthshilp_india"
    target="_blank"
      ><h3 class="gradient-text d-inline-block m-0">Follow us on Instagram <img
        src="../../../../assets/img/footer/insta.webp"
        alt="Instagram"
        class="insta-icon"
    /></h3>
      </a>
  </div>
</div>
