
<app-ad-navbar></app-ad-navbar>
<div class="container mt-4">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-arrow-left me-2" aria-hidden="true"></i>
        <a href="admin/dashboard">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Category</li>
    </ol>
  </nav>
    <div class="card2">
      <div class="card-body">
        <div class="mb-3">
          <label for="categoryName" class="form-label fw-bold">Category Name</label>
          <input
            type="text"
            id="categoryName"
            class="form-control"
            [(ngModel)]="categoryName"
            placeholder="Enter category name"
          />
        </div>
        <button class="btn btn-primary" (click)="addCategory()">Add Category</button>
        <a class="btn btn-success ms-2" href="admin/category/list">Go to Category List</a>
        <p class="mt-2 text-success" *ngIf="message">{{ message }}</p>
      </div>
    </div>
  </div>
  